<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
Stacey

<a href="https://twitter.com/StaceyPhillips_" class="twitter-follow-button" data-show-count="false">Follow @StaceyPhillips_</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
